

body {
   background-color:#F6F6F6;
   font-family: Arial, Helvetica, sans-serif;
   color:#696969;
}
h2 {
    font-size: 2em;
    font-family: 'Shrikhand', cursive;
   
}
h3 {
    font-size: 1em;
    font-family: 'Shrikhand', cursive;
    padding-top: 15px;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }