.cta {
    height: 250px;
    background-color: white;
    border-radius: 6px;
}
.cta-container {
    margin: 25px;
    padding: 25px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.cta-left {    
    height: 100%;
    width: 50%;
    
}

.cta-left-content {  
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    h2 {
        font-size: 3.5em;
        
    }
    h3 {
        font-size: 2.5em;
        margin-top: .5em;
        font-style: italic;

    }
}
.cta-right { 
    display: flex;
    height: 80%;
    width: 45%;
}
.cta-right-content {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    
    button {
        width: 100%;
        font-size: 2em;
        height: 60px;
        margin-top: 30px;
    }
}
button.signup {
    background-color: #0090c5;
    color: white;
    border-radius: 10px;
}
button.learn-more {
    background-color: #f2f2f2;
    color:#696969;
    border-radius: 10px;
}
.centerPanel {
    margin: 25px 0 25px 0;
    background-color: white;
    width: 100%;
    height: 450px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.panelOne {
    width: 30%;
    padding-top: 15px;
    margin-left: 15px;
    vertical-align: center;
    height: auto;
    

    img {
        border-radius: 6px;
        width: 300px;
        height: auto;
    }
    h3 {
        font-size: 1em;
        font-family: 'Shrikhand', cursive;
        padding-top: 15px;

    }
    p {
        margin-top: 15px;
    }
}

.panelTwo {
    width: 30%;
    padding-top: 15px;
    margin-left: 25px;
    vertical-align: center;
    height: auto;

    img {
        border-radius: 6px;
        width: 300px;
        height: auto;
    }
    h3 {
        font-size: 1em;
        font-family: 'Shrikhand', cursive;
        padding-top: 15px;

    }
    p {
        padding-top: 15px;
    }
}
.panelThree {
    width: 30%;
    padding-top: 15px;
    margin-left: 25px;
    vertical-align: center;
    height: auto;

    img {
        border-radius: 6px;
        width: 300px;
        height: auto;
    }
    h3 {
        font-size: 1em;
        font-family: 'Shrikhand', cursive;
        padding-top: 15px;

    }
    p {
        padding-top: 15px;
    }
}
.mission {
    margin: 25px 0 25px 0;
    background-color: white;
    width: 100%;
    height: 450px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.missionPanels {
    width: 960px;
    margin: 0 auto;
}
.missionPanelOne {
    margin: 25px 35px 25px 35px;
    padding: 25px;
    width: 45%;
    border: 1px solid red;

    h3 {
        font-size: 1em;
        font-family: 'Shrikhand', cursive;
        padding-top: 15px;

    }
    .plant-pix-box {
        width: inherit;
        padding: 5px;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;

        img {
            margin: 5px;
            width: 150px;
            height: auto;
            border-radius: 6px;
        }
    }
}
.missionPanelTwo {
    margin: 25px;
    padding: 25px;
    width: 35%;
    border: 1px solid red;
}