/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #F6F6F6;
  font-family: Arial, Helvetica, sans-serif;
  color: #696969;
}
h2 {
  font-size: 2em;
  font-family: 'Shrikhand', cursive;
}
h3 {
  font-size: 1em;
  font-family: 'Shrikhand', cursive;
  padding-top: 15px;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  .container {
    margin: 0 auto;
  }
}
@media ( max-width: 850px ) {
  .container {
    max-width: 800px;
  }
}
.main-content {
  margin: 5%;
}
.main-content h3 {
  padding: 25px 0 25px 0;
}
.main-content p {
  line-height: 1.5;
}
.learn-more-page {
  display: block;
  width: 225px;
  height: 60px;
  font-size: 2em;
  margin-top: 15px;
}
.learn-more-page button {
  background-color: #0090c5;
  font-size: 2em;
  color: white;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  margin-left: 30px;
}
.learn-more-page button a {
  text-decoration: none;
  color: white;
}
.team-content {
  width: 350px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 40px;
}
.team-content h3 {
  padding-bottom: 25px;
}
.team-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 115px;
  vertical-align: center;
}
.team-content i {
  font-size: 24px;
  color: black;
}
.team-card {
  background-color: white;
  box-shadow: 3px 3px 12px 3px #a09a9a;
  width: 350px;
  height: auto;
  padding-bottom: 15px;
  margin: 25px;
}
@media ( max-width: 500px ) {
  .team-card {
    width: 300px;
    margin: 20px;
  }
}
.team-card h3 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 0px;
}
.team-card img {
  padding-top: 10px;
}
.parallax {
  /* The image used */
  background-image: url('wide-plant-background.jpg');
  /* Set a specific height */
  height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header.header-menu {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media ( max-width: 500px ) {
  header.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
@media ( max-width: 850px ) {
  header.header-menu {
    justify-content: space-evenly;
  }
}
.logo-text-heading {
  font-size: 4em;
  width: 200px;
  font-family: 'Shrikhand', cursive;
  background-color: #00796B;
  border-radius: 6px;
}
.logo-text-heading a {
  text-decoration: none;
  color: white;
}
@media ( max-width: 500px ) {
  .logo-text-heading {
    text-align: center;
    width: 100px;
    font-size: 2em;
    margin-bottom: 15px;
  }
}
@media ( max-width: 500px ) {
  nav {
    width: 100%;
    text-align: center;
  }
}
a.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #696969;
  margin-left: 25px;
  padding: 8px;
  text-decoration: none;
  font-size: 1.5rem;
}
a.nav-link:hover {
  color: white;
  background-color: #00796B;
  padding: 8px;
  border-radius: 6px;
}
@media ( max-width: 500px ) {
  a.nav-link:hover {
    border-radius: 0;
  }
}
@media ( max-width: 500px ) {
  a.nav-link {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #00796B;
  }
}
a.nav-link.selected {
  color: white;
  background-color: #00796B;
  padding: 8px;
  border-radius: 6px;
}
@media ( max-width: 500px ) {
  a.nav-link.selected {
    width: 100%;
    border-radius: 0;
  }
}
.slider-box {
  padding: 25px;
  margin: 0 auto;
  vertical-align: -webkit-baseline-middle;
}
@media ( max-width: 500px ) {
  .slider-box {
    padding: 0px;
  }
}
.slider-box img {
  width: 400px;
  height: auto;
}
@media ( max-width: 500px ) {
  .slider-box img {
    margin-left: 25px;
    width: 300px;
    height: auto;
  }
}
footer {
  margin: 25px 0 25px 0;
  width: 100%;
  height: 450px;
  border-radius: 6px;
}
@media ( max-width: 500px ) {
  footer {
    margin: 0 auto;
  }
}
.footerPanels {
  margin: 0 auto;
  width: 960px;
  display: flex;
}
@media ( max-width: 850px ) {
  .footerPanels {
    width: 800px;
  }
}
@media ( max-width: 500px ) {
  .footerPanels {
    width: 500px;
    flex-direction: column;
  }
}
.footer-testimonials {
  width: 60%;
  height: 100%;
  display: flex;
}
@media ( max-width: 500px ) {
  .footer-testimonials {
    width: 100%;
    margin-top: 25px;
    display: block;
  }
}
.contact-info {
  text-align: center;
  margin: 35px;
  padding-bottom: 25px;
  width: 30%;
  height: 100%;
}
.contact-info h3 {
  padding-bottom: 25px;
}
@media ( max-width: 500px ) {
  .contact-info {
    margin: 15px;
    width: 60%;
  }
}
.contact-social {
  display: flex;
  justify-content: space-evenly;
}
@media ( max-width: 500px ) {
  .contact-social {
    justify-content: space-between;
  }
}
.contact-social i {
  padding: 10px;
  margin-left: 10px;
  color: #696969;
  font-size: 36px;
}
.cta {
  height: 250px;
  background-color: white;
  border-radius: 6px;
}
@media ( max-width: 500px ) {
  .cta {
    height: 175px;
  }
}
.cta-container {
  margin: 25px;
  padding: 25px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
@media ( max-width: 500px ) {
  .cta-container {
    margin: 0 auto;
    padding: 0;
  }
}
.cta-left {
  height: 100%;
  width: 50%;
}
.cta-left-content {
  color: white;
}
.cta-left-content h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5em;
}
.cta-left-content h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-top: 0.5em;
  font-style: italic;
}
@media ( max-width: 850px ) {
  .cta-left-content h3 {
    font-size: 1.5em;
  }
}
@media ( max-width: 500px ) {
  .cta-left-content h3 {
    font-size: 1.5em;
  }
  .cta-left-content h2 {
    font-size: 2em;
    padding-top: 10px;
  }
}
.cta-right {
  display: flex;
  height: 80%;
  width: 45%;
}
.cta-right-content {
  margin-left: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
@media ( max-width: 500px ) {
  .cta-right-content {
    margin: 0;
    padding: 0;
  }
}
.cta-right-content button {
  width: 100%;
  font-size: 2em;
  height: 60px;
  margin-top: 30px;
}
@media ( max-width: 500px ) {
  .cta-right-content button {
    font-size: 1em;
    width: 125px;
    margin-top: 15px;
    margin-left: 20px;
  }
}
button.signup {
  background-color: #00bcd4;
  border-radius: 10px;
}
button.signup a {
  text-decoration: none;
  color: white;
}
button.learn-more {
  background-color: #f2f2f2;
  border-radius: 10px;
}
button.learn-more a {
  text-decoration: none;
  color: #696969;
}
.centerPanel {
  margin: 25px 0 25px 0;
  background-color: white;
  width: 100%;
  height: 450px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
@media ( max-width: 850px ) {
  .centerPanel {
    display: none;
  }
}
@media ( max-width: 500px ) {
  .centerPanel {
    display: none;
  }
}
.centerPanel h3 {
  font-size: 1em;
  font-family: 'Shrikhand', cursive;
  padding-top: 15px;
}
.centerPanel p {
  padding: 15px;
}
.panelOne {
  width: 30%;
  padding-top: 15px;
  margin-left: 15px;
  vertical-align: center;
  height: auto;
}
.panelOne img {
  border-radius: 6px;
  width: 300px;
  height: auto;
}
.panelTwo {
  width: 30%;
  padding-top: 15px;
  margin-left: 25px;
  vertical-align: center;
  height: auto;
}
.panelTwo img {
  border-radius: 6px;
  width: 300px;
  height: auto;
}
.panelThree {
  width: 30%;
  padding-top: 15px;
  margin-left: 25px;
  vertical-align: center;
  height: auto;
}
.panelThree img {
  border-radius: 6px;
  width: 300px;
  height: auto;
}
.mission {
  margin: 25px 0 25px 0;
  background-color: white;
  width: 100%;
  height: 450px;
  border-radius: 6px;
}
@media ( max-width: 850px ) {
  .mission {
    height: auto;
    margin: 0 auto;
  }
}
.missionPanels {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media ( max-width: 850px ) {
  .missionPanels {
    width: 100%;
    display: block;
    background-color: white;
    height: auto;
  }
}
.missionPanelOne {
  margin: 0;
  padding: 25px;
  width: 35%;
  height: 100%;
}
.missionPanelOne h3 {
  font-size: 1em;
  font-family: 'Shrikhand', cursive;
  padding-top: 15px;
}
.missionPanelOne .plant-pix-box {
  padding: 5px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.missionPanelOne .plant-pix-box img {
  margin: 5px;
  width: 150px;
  height: auto;
  border-radius: 6px;
}
@media ( max-width: 850px ) {
  .missionPanelOne {
    margin-left: 50px;
    width: 94%;
  }
}
@media ( max-width: 500px ) {
  .missionPanelOne {
    width: 100%;
    margin: 0;
  }
}
.missionPanelTwo {
  color: #696969;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 25px;
  width: 54%;
  height: 100%;
}
@media ( max-width: 500px ) {
  .missionPanelTwo {
    display: none;
  }
}
.missionPanelTwo h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5em;
  font-style: italic;
}
.missionPanelTwo p {
  padding: 15px;
}
@media ( max-width: 850px ) {
  .missionPanelTwo {
    width: 58%;
    margin: 0 auto;
  }
}
@media ( max-width: 500px ) {
  .mission-statement-text {
    display: block;
    width: 500px;
    background-color: white;
  }
}
.mission-learn-more-button {
  display: block;
  width: 960px;
  margin: 0 auto;
}
.mission-learn-more-button button {
  background-color: #00bcd4;
  font-size: 2em;
  color: white;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  margin-left: 30px;
}
@media ( max-width: 850px ) {
  .mission-learn-more-button button {
    margin-left: 310px;
    margin-bottom: 25px;
  }
}
@media ( max-width: 500px ) {
  .mission-learn-more-button button {
    margin-left: 85px;
  }
}
.mission-learn-more-button button a {
  text-decoration: none;
  color: white;
}
